*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.structure{

}

.title{
  /* debug */
  border: 2px solid #000;
  background-color: red;
  height: 200px;
  /*  end debug */
  background-image: url("");
  width: 100%;
}

h1{
  text-align: center;
}

.navbar{
  /* debug */
  background-color: blue;
  height: 80px;
  text-align: center;
  border: 2px solid #000;
  /* end debug */
  width: 100%;
}
